*{
    margin: 0;
    padding: 0;
}

#main{
    background-color: skyblue;
    display: flex;
    justify-content: center;
    gap: 100px;
    height: 100vh;
    padding-bottom: 20vh;
    align-items: center;


}

.card{
    background-color: aliceblue;
    max-height: fit-content;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    gap: 20px;
    width: 300px;
}
.form-field{

    display: flex;
    gap: 5px;
    align-items: center;
    border-bottom: 1px solid gray;


}
.form-field input{
border: none;
outline: none;
background-color: transparent;
width: 100%;
padding: 5px;
}

.terms{
    display: flex;
    justify-content: space-between;
}

.SubmitButton button{
    border: 1px solid skyblue;
    background-color: lightblue;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.referenceLink{
    text-align: center;
}

.SubmitButton button:hover{
    background-color: aliceblue;
    color: skyblue;
}
.SubmitButton button:active{
    background-color: aliceblue;
    color: skyblue;
    border: 2px solid skyblue;
    font-weight: bolder;
}

.form-field input:focus{
    border: 1px solid skyblue;
    border-radius: 5px;
}