body{
font-family: Arial;
background:#fafbfb;
}

.container{
width:900px;
margin:auto;
background:#deecf5;
padding:30px;
border-radius:10px;
}

h1{
text-align:center;
}

p{
text-align:center;
font-size:14px;
}

table{
width:100%;
border-spacing:15px;
}

input,select{
width:100%;
padding:10px;
border:1px solid #ccc;
border-radius:5px;
}
.checkbox-group{
display:flex;
flex-direction:column;
}

.submit-btn{
text-align:center;
}

button{
background:#0a1c2e;
color:white;
padding:12px 35px;
border-radius:25px;
font-size:16px;
}

button:hover{
background:#132f4a;
}