/* CLASSIC RETRO ACADEMIC THEME */

body{
    background-color:#e7d09e;
    font-family: Georgia, "Times New Roman", serif;
    color:#475557;
    margin:0;
    padding:40px;
}


/* TABLE */

table{
    width:80%;
    margin:auto;

    border-collapse:collapse;

    background-color:#ecc675;

    border:2px solid #1c150c;

}


/* HEADER */

th{
    background-color:#dfe4ee;

    color:#755525ad;

    padding:12px;

    font-size:16px;

    border:1px solid #5b3f1a;

    letter-spacing:1px;
}


/* CELLS */

td{
    padding:10px;

    text-align:center;

    border:1px solid #d69a39;
}


/* ROW COLORS */

tr:nth-child(even){
    background-color:#f2e8d9;
}

tr:hover{
    background-color:#2e200b;
}


/* TEXT INPUT */

input[type="text"]{
    background-color:#d2be8f;

    border:1px solid #a08a6a;

    padding:4px;

    font-family:Georgia, serif;
}


/* CHECKBOX */

input[type="checkbox"]{
    transform:scale(1.1);
}


/* LINKS */

a{
    color:#5a3e2b;

    text-decoration:none;

    font-weight:bold;
}

a:hover{
    text-decoration:underline;
}


/* FOOTER */

footer{
    margin-top:50px;

    background-color:#e8dcc8;

    padding:25px;

    border-top:2px solid #8b6f47;
}


/* PROFILE IMAGE */

footer img{
    border-radius:50%;

    border:2px solid #8b6f47;
}


/* FOOTER TEXT */

footer p{
    margin:6px;
}

footer h3{
    color:#271c11;
}


/* HR */

hr{
    border:1px solid #472b05;
}